
/********************* Polices ****************/

@font-face{
    font-family: 'GeoSansLight';
    src: url('polices/GeosansLight.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Subscribers';
    src: url('polices/SUBSCRIBER-Regular.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Marker SD';
    src: url('polices/Marker SD.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}
/*-------------------HEADER----------------*/
header{
    width:98vw;
    height:25%;
    background-image: url("images/header.jpg");
    background-attachment: scroll;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:15px;
    display: flex;
    justify-content: space-between;
}
#nom-header{
    font-family: 'Subscribers';
    color:white;
    font-size:90px;
    text-align:center;
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-left:-50px;
}
#onglets-header1{
    font-family: 'Marker SD';
    color:white;
    font-size: 30px;
    display: flex;
    text-align:center;
    flex-direction: column;
    margin-left:70px;
    margin-top:30px;
}
#onglets-header2{
    font-family: 'Marker SD';
    color:#CAB99F;
    font-size: 22px;
    display: flex;
    text-align:center;
    flex-direction: column;
    margin-right:100px;
    margin-top:10px;
}
.link-header{
    text-decoration:none;
    color:#3E4036;
    margin-bottom:-8px;
}
.link-header:hover{
    text-decoration:underline;
    color: #7FA65B;
}
.link-header:visited{
    text-decoration: none;
}
.link-header1{
    color:#FFF4DB;
    text-decoration:none;
}
.link-header1:visited{
    text-decoration: none;
}
.link-header1:hover{
    text-decoration:underline;
    color: #7FA65B;
}
/*----------------FOOTER------------*/
footer{
    width:98vw;
    height:25%;
    background-image: url("images/footer.jpg");
    background-attachment: scroll;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:15px;
    display: flex;
    justify-content: space-between;
}
#nom-footer{
    font-family: 'Subscribers';
    color:white;
    font-size:100px;
    text-align:center;
    display: flex;
    justify-content: right;
    margin-top:20px;
    margin-left:20px;
}
#onglets-footer1{
    font-family: 'Marker SD';
    color:white;
    font-size: 30px;
    display: flex;
    text-align:center;
    flex-direction: column;
    margin-left:200px;
    margin-top:30px;
}
#onglets-footer2{
    font-family: 'Marker SD';
    color:#CAB99F;
    font-size: 22px;
    display: flex;
    text-align:center;
    flex-direction: column;
    margin-right:100px;
    margin-top:10px;
}
.link-footer{
    text-decoration:none;
    color:#3E4036;
    margin-bottom:-8px;
}
.link-footer:hover{
    text-decoration: underline;
    color: #7FA65B;
}
.link-footer1{
    text-decoration:none;
    color:#3E4036;
}
.link-footer1:hover{
    text-decoration: underline;
    color: #7FA65B;
}
/*---------TITRE COMMUN-------*/
.titre-commun{
    display:flex;
    justify-content: center;
    text-align: center;
    background-color:rgba(90, 144, 79, 0.603);
    font-family: 'Subscribers';
    font-size: 30px;
    color:white;
    border-radius:20px;
    margin-bottom : 42px;
    margin-top:42px;
}

.titre-commun h1{
    flex-basis:30%;
    margin:0;
    letter-spacing: 4px;
    animation: titre 6s infinite alternate ease-in-out;
}

/********************* Pages Présentation ****************/
.presentation{
    background-image:url("images/présentation.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    flex-direction:column;
    font-family: 'GeoSansLight';
    font-size:20pt;
}

.presentation_descri{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color:rgba(255,255,255,0.6);
    border-radius:350px 350px 20px 20px;
}

.presentation_descri p{
    text-align:center;
    flex-basis:80%;
    border-radius:20px;
}

.presentation_descri p#top{
    font-weight:bold;
    font-size:30pt;
    animation: present_bloc 4s 1 0s ease-in-out;
}

.presentation_bloc{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.presentation_cat{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgba(202,185,159,0.8);
    border-radius:220px 20px 220px 20px;
    flex-basis: 40%;
    margin-bottom:60px;
    margin-top:60px;
}

.presentation_cat:hover{
    box-shadow:60px -16px rgb(107,83,58);
}

.presentation_cat img{
    width:200px;
    height:200px;
    border-radius:500px;
}

.presentation_cat aside{
    text-align:center;
    align-self: center;
    flex-basis: 50%;
}

#cat{
    color:#6B533A;
    font-weight:bold;
}

.presentation_infos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(255,255,255,0.6);
    border-radius:20px 20px 350px 350px;
    margin-bottom:42px;
}

.presentation_infos p{
    text-align:center;
    flex-basis:80%;
    border-radius:20px;
}

.presentation_infos div{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.presentation_infos a#gamm{
    align-self:center;
    height:70px;
}

#pretapousser{
    width:290;
    height:150px;
}

/********************* Pages Légumes ****************/
.legumes{
    background-image:url("images/légumes.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    flex-direction:column;
    font-family: 'GeoSansLight';
}

#legumes_titre1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    animation: soustitre 3s 1 ease-in-out;
}

#legumes_titre2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    animation: soustitre 5s 1 ease-in-out;
}

#legumes_titre3{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: soustitre 7s 1 ease-in-out;
}

#legumes_titre1 a, #legumes_titre2 a, #legumes_titre3 a{
    background-color : rgba(107,83,58,0.6);
    flex-grow:0.05;
    text-align:center;
    border-radius:20px;
    text-decoration:none;
    color:black;
    font-size:10pt;
}

.legumes_cat{
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

.legumes_fiche{
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    margin-bottom:20px;
}

.legumes_fiche div{
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color:rgba(204,224,148,0.6);
    flex-basis:60%;
    border-radius:50px;
    font-size:20pt;
}

.g:hover{
    box-shadow:10px 5px 5px #5A904F;
}

.d:hover{
    box-shadow:-10px -5px 5px #5A904F;
}

#g {
    justify-content: flex-start;
}

#d {
    justify-content: flex-end;
}

.legumes_fiche img{
    width:250px;
    height:250px;
    border-radius:50px;
    margin:15px;
}

.legumes_fiche aside{
    align-self:center;
    text-align:center;
}
.legumes_fiche aside h2{
    font-family: 'Subscribers';
    font-size:50pt;
    margin:0;
}

/********************* Pages Plantes ****************/
.plantes{
    background-image:url("images/plantes.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    flex-direction:column;
    font-family: 'GeoSansLight';
}

#plantes_titre1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    animation: soustitre 3s 1 ease-in-out;
}

#plantes_titre2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    animation: soustitre 5s 1 ease-in-out;
}

#plantes_titre3{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: soustitre 7s 1 ease-in-out;
}

#plantes_titre1 img, #plantes_titre2 img, #plantes_titre3 img{
    width:70px;
    height:70px;
    border-radius:200px;
}

#plantes_titre1 img:hover, #plantes_titre2 img:hover, #plantes_titre3 img:hover{
    box-shadow:5px -5px 5px #6B533A;
}

.plantes_bloc{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.plantes_cat{
    background-color:rgba(202,185,159,0.8);
    border-radius:125px;
    flex-basis: 28%;
    margin-bottom:60px;
    margin-top:60px;
}

.plantes_cat h2:hover{
    text-shadow:#5A904F 1px 0 10px;
}

.plantes_cat img{
    align-self:center;
    width:550px;
    height:500px;
    border-radius:125px;
}

.plantes_cat aside{
    text-align:center;
    align-self: center;
    font-size:20pt;
}

/******** Animations *********/
@keyframes present_bloc{
    0%{
        transform: translateY(150px);
        opacity: 0;
        }
    50%{
        transform: translateY(50px);
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
}

@keyframes titre{
    0%{
        transform: translateX(300px);
        }
    50%{
        }
    100%{
        transform: translateX(-300px);
        opacity: 1;
        }
}

@keyframes soustitre{
    0%{
        opacity:0;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
    text-align:center;
}
/*------------ACCUEIL----------*/
#fond-accueil{
    background-image: url("images/accueil.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bienvenue-accueil{
    background-color:rgba(255, 255, 255, 0.5);
    padding-left:20px;
    margin-bottom: 40px;
    border-radius:15px;
    padding-right:20px;
}
#titre-accueil{
    font-family: 'Subscribers';
    font-size:60px;
    padding-top:30px;
}
#texte-accueil{
    font-family: 'GeoSansLight';
    font-size: 30px;
}
#texte-accueil2{
    font-family: 'GeoSansLight';
    font-size: 30px;
    display: block;
    text-align:center;
    padding-top:20px;
    padding-bottom: 20px;
}
.link-accueil{
    text-decoration:none;
    color:black;
}
.link-accueil:hover{
    text-decoration:underline;
    color:#5A904F;
}
.link-accueil:visited{
    color:#5A904F;;
}
/*--------------FLEURS------------*/
#fond-fleurs{
    background-image:url("images/fleurs.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fleur1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.5);
    margin-top:40px;
    margin-bottom: 20px;
    border-radius:15px;
    opacity:0.5;
}
.fleur2{
    justify-content: space-between;
    flex-direction: column;
}
.img-fleurs2{
    width:150px;
    height:auto;
}
.titre-fleurs{
    margin-bottom:-20px;
    margin-top:10px;
    padding-left:10px;
    font-family: 'Subscribers';
    font-size:70px;
}
.titre-fleurs-scientifique{
    font-family: 'GeoSansLight';
    font-size:20px;
    padding-left:10px;
}
.texte-fleurs{
    font-family: 'GeoSansLight';
    font-size:20px;
    padding-left:30px;
    margin-top:10px;
}
#description-fleur{
    font-family: 'GeoSansLight';
    font-size:20px;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    border-radius: 15px;
    text-align:center;
}
.fleur1:hover{
    opacity: 1;
    transition: opacity 1s ease-out;
}
/*-------------ARBUSTES--------------*/
#fond-arbustes{
    background-image:url("images/arbuste.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#description-arbustes{
    font-family: 'GeoSansLight';
    font-size:20px;
    background-color:rgba(255, 255, 255, 0.5);
    color:black;
    border-radius: 15px;
    text-align:center;
}
.arbuste {
    width:300px;
    height:450px;
    position:relative;
  }
  
  .img-arbuste {
    width:100%;
    height:450px;
    vertical-align:top;
  }
  
  .caption-arbuste {
      height:100%;
  transition:all 1s;
  opacity:0;
  background-color: rgba(255, 255, 255, 0.75) ;
  text-align:center;
  position:absolute;
  bottom:0;
    left:0;
  right:0;
  }
  
  .arbuste:hover .caption-arbuste {
  opacity:1;
  }

  .titre-arbuste{
    font-family: 'Subscribers';
    font-size:4em;
    text-decoration: underline;
    margin-bottom: -10px;
    margin-top:17px;
  }
  .titre-arbuste2{
    font-family: 'Subscribers';
    font-size:40px;
    font-style: italic;
  }
  .arbuste{
    font-family: 'GeoSansLight';
    font-size:18px;
  }
.contain-arbuste1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
